/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #F6F6F6;
    height: 100vh;
}

/* Aquí solo consideramos la clase titulo-destaque */
.titulo-destaque {
    color: #22D4FD;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 5% 15%;
    justify-content: space-between;
}

.presentacion__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
}

.presentacion__enlaces__link1 {
    width: 288px;
    background-color:#f5107e;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.presentacion__enlaces__link2 {
    width: 288px;
    background-color:blue;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.fotografia {
    display: flex;
    width: 33%;
    height: 27%;
    align-items: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .presentacion {
        flex-direction: column;
        align-items: center;
        margin: 5% 5%;
    }

    .fotografia {
        order: -1; /* Mueve la fotografía arriba */
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }

    .presentacion__contenido {
        width: 90%;
        gap: 20px;
    }

    .presentacion__contenido__titulo {
        font-size: 25px;
        text-align: center; /* Centra el título */
    }

    .presentacion__contenido__texto {
        font-size: 15px;
        text-align: justify; /* Justifica el texto */
    }

    .presentacion__enlaces {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .presentacion__enlaces__link {
        width: 90%;
        padding: 15px 0;
        font-size: 20px; /* Ajuste del tamaño de los botones */
    }
}
